# Copie para .env e preencha os valores

PIPEDRIVE_API_TOKEN=

CLICKSIGN_ACCESS_TOKEN=
CLICKSIGN_BASE_URL=https://app.clicksign.com/api/v3
CLICKSIGN_WEBHOOK_URL=
CLICKSIGN_RATE_LIMIT_MAX_RETRIES=12
CLICKSIGN_RATE_LIMIT_BUFFER_SEC=1

PLUNE_BASE_URL=https://www-gebras.plune.com.br
PLUNE_AUTH_TOKEN=
PLUNE_COMPANY_ID=869
PLUNE_BRANCH_ID=751
PLUNE_TIPO_OP_ID=20
PLUNE_STATUS_PEDIDO=32
PLUNE_TIPO_CONTRATO_ID=3
PLUNE_CENTRO_CUSTO_ID=5
PLUNE_PRODUTO_SOLE_ID=5584

INTERVALO_POLLING_SEGUNDOS=30
MODELO_DOCX=contrato_padrao.docx
PASTA_SAIDA=./contratos
TESTE_PLUNE_SEM_ASSINATURA=true
ARQUIVO_DEALS_PROCESSADOS=runtime/state/deals_processados.txt
ARQUIVO_ENVELOPES_PENDENTES=runtime/state/envelopes_pendentes.json
ARQUIVO_PEDIDOS_PLUNE_CRIADOS=runtime/state/pedidos_plune_criados.txt
